
$action-padding: .3333em;
$action-group-gap: .6667em;
$control-padding: .375em;
$control-group-gap: .75em;

$color-action-idle: lighten($color-primary,50%);
$color-action-idle-darkui: darken($color-primary-darkui,50%);

// Selectors · action 
// Usually entail departure from view and/or item creation / deletion

.action-bar {
	display:flex;
	margin:0 -#{($action-group-gap/2 + $action-padding)};
	&.med {
		font-size:24px;
	}
	&.lrg {
		font-size:32px;
	}
	> .action-group {
		margin:0 $action-group-gap/2;
	}
}


.action-group {
	margin:0 -#{$action-padding};
	display:flex;
	flex:0 auto;
	border-radius:$border-radius-default;
	@include transitionDefault();
	&:hover {
		background-color:$color-bgd-emphasis;
		@include colorDarkui('background','emphasis')
	}
	> * {
		padding:$action-padding;
		display:block;
		height:1em;
		width:1em;
		box-sizing:content-box;
		color:$color-action-idle;
		.dark-ui & {
			color:$color-action-idle-darkui;
		}
		@include transitionDefault();
		&:hover {
			color:inherit;
		}
	}
	&.med {
		font-size:24px;
	}
	&.lrg {
		font-size:32px;
	}
	svg {
		height:100%;
		width:100%;
	}
}


// Selectors · Controls
// Usually entail view maniplulation or content modification

.control-bar {
	display:flex;
	margin:0 -#{($control-group-gap/2 + $control-padding)};
	&.med {
		font-size:24px;
	}
	&.lrg {
		font-size:32px;
	}
	> .control-group {
		margin:0 $control-group-gap/2;
	}
}

.control-group {
	margin:-$control-padding;
	position:relative;
	display:flex;
	cursor:pointer;
	border:calc(1em / 16) solid transparent;
	border-radius:$border-radius-default;
	@include transitionDefault();
	&:hover {
		border-color:$color-bgd-emphasis;
		@include colorDarkui('border','emphasis');
		.active {
			background-color:$color-bgd-emphasis;
			@include colorDarkui('background','emphasis');
		}
	}
	> * {
		padding:calc(#{$control-padding} - (1em / 16)) $control-padding;
		box-sizing:content-box;
		min-width:1em;
		height:1em;
		text-align:center;
		color:$color-action-idle;
		.dark-ui & {
			color:$color-action-idle-darkui;
		}
		@include transitionDefault();
		&.active, &:hover {
			color:inherit;
		}
		&:first-child { 
			padding-left:calc(#{$control-padding} - (1em / 16));
			border-top-left-radius:$border-radius-default - 1px;
			border-bottom-left-radius:$border-radius-default - 1px;
		}
		&:last-child { 
			padding-right:calc(#{$control-padding} - (1em / 16));
			border-top-right-radius:calc(#{$border-radius-default} - (1em / 16));
			border-bottom-right-radius:calc(#{$border-radius-default} - (1em / 16));
		}
	}
	svg {
		width:1em;
		height:1em;
	}
}


input[id^="toggle"],.control-toggle {
  display:none;
  + label {
    margin:-$control-padding;
    position:relative;
    display:flex;
    width:(2em + 4 * $control-padding);
    height:(1em + 2 * $control-padding);
    cursor:pointer;
    border:calc(1em / 16) solid transparent;
    border-radius:$border-radius-default;
    @include transitionDefault();
    &:hover {
      border-color:$color-bgd-emphasis;
      @include colorDarkui('border','emphasis');
    }
		&.med {
			font-size:24px;
		}
		&.lrg {
			font-size:32px;
		}

    > * {
			padding:calc(#{$control-padding} - (1em / 16)) $control-padding;
      box-sizing:content-box;
      min-width:1em;
      height:1em;
      text-align:center;
      @include transitionDefault();
      &:first-child { 
        padding-left:calc(#{$control-padding} - (1em / 16));
        border-top-left-radius:$border-radius-default - 1px;
        border-bottom-left-radius:$border-radius-default - 1px;
      }
      &:last-child { 
        padding-right:calc(#{$control-padding} - (1em / 16));
				border-top-right-radius:calc(#{$border-radius-default} - (1em / 16));
        border-bottom-right-radius:calc(#{$border-radius-default} - (1em / 16));
      }
    }
    svg {
      width:1em;
      height:1em;
    }
  }
  &:checked + label > * + *, &:not(:checked) + label > *:first-child {
    color:$color-action-idle;
		.dark-ui & {
			color:$color-action-idle-darkui;
		}
  }
  &:checked + label:hover > *:first-child, &:not(:checked) + label:hover > * + * {
    background-color:$color-bgd-emphasis;
    @include colorDarkui('background','emphasis');
  }
}