@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    /* width: 1000px; */
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: #2d6476;
    background: url('/ES_LogoBackground.jpeg') no-repeat;
    font-family: 'Roboto', sans-serif !important;
    background-size: 100%;
    background-position: center;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

span {
    color: #e1a14d !important;
}

#leftPanel,
#rightPanel {
    width: 50%;
    margin: 0;
    height: 100%;
    display: inline-block;
}

#leftPanel {
    float: left;
}

#rightPanel {
    float: right;
}

#mainContent {
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#myFace {
    max-width: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    position: fixed;
    bottom: 15px;
    width: 1000px;
}