.page-layer
  header.bookend
    a {
      href="https://codepen.io/collection/ABpRqv/" target="_blank" 
      data-tooltip-text="A side project" 
      data-tooltip-pos="bottom"}
      ' Elvin M. Samuel
    input#toggle-ui type="checkbox" checked=true
    label {for="toggle-ui" 
      data-tooltip-text="Default UI / Dark UI" 
      data-tooltip-pos="bottom align-right"}
      div
        svg.icon-light
      div
        svg.icon-dark
  main
    .exploder
      .component
        input#toggle-projection type="checkbox" checked=true
        label {
          for="toggle-projection" 
          data-tooltip-text="Explode on hover / Lock normal view" 
          data-tooltip-pos="top align-left"}
          div
            svg.icon-iso
          div
            svg.icon-ortho-lock
        .graphics    
          .viewport
            .progress-project
              .dates
                .start.label Jan 2016
                .finish.label Oct 2018
              .durations
                .to-completion.label 144 wks
                .to-date.label wk 104
              .bar
                .phase.phase-1 data-phase="Phase 1" style="width: 10%" title="More phase info"
                .phase.phase-2 data-phase="Phase 2" style="width: 25%" title="More phase info"
                .phase.phase-3 data-phase="Phase 3" style="width: 30%" title="More phase info"
                .phase.phase-4 data-phase="Phase 4" style="width: 30%" title="More phase info"
                .remaining style="padding-left:72%"
                .current-state.label.phase-4 style="width:72%" Phase 4 
          .annotation.left   
            .note.upward style="bottom:188px;padding-right:36px" 
              | Theme aware masking border. Psuedo element of .bar below. Mask used on oversized rectangular elements to prevent undesirable anti-aliasing of multiple overlapping elements below
            .note.upward style="bottom:101px;padding-right:60px" 
              | Theme aware phase end dots. Psuedo elements of phases. Key to visualising phase durations in future
            .note.upward style="bottom:6px;padding-right:32px" 
              | Base elements with graphic augmentation on hover (intersecting borders used to make arrows and ticks)
          .annotation.right    
            .note.upward style="bottom:279px;padding-left:30px" 
              | Absolutely positioned progress remaining element. Left padding via inline style reveals colored progress elements below
            .note style="top:99px;padding-left:118px" 
              | Curved border psuedo element to simulate border-radius on elements below
            .note style="top:156px;padding-left:62px" 
              | Optional phases laid out as flex items of bar element below. Hover triggers psuedo element phase label (using data attribute for content). Hover also hides sibling current phase/state label
            .note style="bottom:64px;padding-left:180px" 
              | box-shadow. Nothing to do with timeline component — just looks nice for isometric
        p.title 
          '  Progress bar kit
          span.secondary · Project timeline component

  footer.bookend
    span.secondary
      a {
          href="https://github.com/ElvinSamuel"
          target="_blank"
        }
        i { 
          class="fab fa-github"
          }
        
    span.secondary
      a {
          href="https://codepen.io/ElvinSamuel/"
          target="_blank"
        }
        i {
            class="fab fa-codepen"
          }
      
    span.secondary
      a {
          href="https://www.linkedin.com/in/elvinmsamuel/"
          target="_blank"
        }
        i {
            class="fab fa-linkedin-in"
          }