<!DOCTYPE html>
<html>

<head>
    <!-- Meta Tags (Google Optimization) -->
    <meta name="description" content="Website for Elvin M. Samuel - Software Engineer. My personal brand, design, everything.">
    <meta name="keywords" content="Elvin, Samuel, Software, Engineer, Developer, Personal, Portfolio, Site">
    <meta name="author" content="Elvin M. Samuel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OG Tags (For FaceBook Optimization) -->
    <meta property="og:title" content="Elvin M. Samuel - Software Engineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.elvinsamuel.com/" />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/590263422404665344/X61oW76-_400x400.jpg" />
    <meta property="og:description" content="Website for Elvin M. Samuel - Software. My personal brand, design, everything." />

    <!-- OG Tags (For Twitter ) -->
    <meta name="twitter:card" content="Website for Elvin M. Samuel - Software Engineer. My personal brand, design, everything." />
    <meta name="twitter:title" content="Elvin M. Samuel - Software Engineer" />
    <meta name="twitter:description" content="Website for Elvin M. Samuel - Software. My personal brand, design, everything." />
    <meta name="twitter:url" content="http://www.ElvinSamuel.com/" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/590263422404665344/X61oW76-_400x400.jpg" />


    <title>Elvin M. Samuel</title>
    <link rel="shortcut icon" href="ES_Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>

<body>

    <div class='header'>
        <a href="https://www.linkedin.com/in/elvinmsamuel/" target='_blank'>
            <p>Elvin M. Samuel</p>
        </a>
        <span id='light'>
    <i class="far fa-lightbulb"></i>
  </span>
        <span id='dark'>
    <i class="fas fa-lightbulb"></i>
  </span>
    </div>

    <div class='wrapper'>
        <div>
            <p>Projekt</p>
            <p>Software Engineer</p>
            <p>Front & Back End Developer</p>
            <p></p>
        </div>
        <div>
            <p>Projekt</p>
        </div>
    </div>


    <div class='footer'>
        <span class='footerColumn'>
    <a href="https://github.com/ElvinSamuel" target="_blank">
      <i class='fab fa-github'></i>
    </a>
  </span>
        <span class='footerColumn'>
    <a href="https://codepen.io/ElvinSamuel/" target="_blank">
      <i class="fab fa-codepen"></i>
    </a>
  </span>
        <span class='footerColumn'>
    <a href="https://www.linkedin.com/in/elvinmsamuel/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </span>
    </div>

</body>

</html>