<!DOCTYPE html>
<html>

<head>
    <!-- Meta Tags (Google Optimization) -->
    <meta name="description" content="Website for Elvin M. Samuel - Software Engineer. My personal brand, design, everything.">
    <meta name="keywords" content="Elvin, Samuel, Software, Engineer, Developer, Personal, Portfolio, Site">
    <meta name="author" content="Elvin M. Samuel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OG Tags (For FaceBook Optimization) -->
    <meta property="og:title" content="Elvin M. Samuel - Software Engineer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.elvinsamuel.com/" />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/590263422404665344/X61oW76-_400x400.jpg" />
    <meta property="og:description" content="Website for Elvin M. Samuel - Software. My personal brand, design, everything." />

    <!-- OG Tags (For Twitter ) -->
    <meta name="twitter:card" content="Website for Elvin M. Samuel - Software Engineer. My personal brand, design, everything." />
    <meta name="twitter:title" content="Elvin M. Samuel - Software Engineer" />
    <meta name="twitter:description" content="Website for Elvin M. Samuel - Software. My personal brand, design, everything." />
    <meta name="twitter:url" content="http://www.ElvinSamuel.com/" />
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/590263422404665344/X61oW76-_400x400.jpg" />


    <title>Elvin M. Samuel</title>
    <link rel="shortcut icon" href="ES_Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>

<body>

    <div class='header'>
        <a href="https://www.linkedin.com/in/elvinmsamuel/" target='_blank'>
            <p>Elvin M. Samuel</p>
        </a>
        <span id='light'>
    <i class="far fa-lightbulb"></i>
  </span>
        <span id='dark'>
    <i class="fas fa-lightbulb"></i>
  </span>
    </div>

    <div class='wrapper'>
        <div class='outerContainer'>
          
            <div class="innerContainer innerContainerLeft">
              Lorem ipsum dolor amet messenger bag twee vinyl shaman franzen readymade ennui PBR&B snackwave shabby chic enamel pin pop-up. Actually trust fund subway tile, lumbersexual cold-pressed gentrify direct trade. Art party YOLO you probably haven't heard of them, next level marfa cloud bread blog dreamcatcher. Af lomo chia lyft shaman. Echo park distillery live-edge church-key ethical. Semiotics microdosing literally, organic helvetica schlitz mixtape +1 chicharrones 3 wolf moon.
        
        Poke tumblr woke squid forage pork belly taiyaki affogato sriracha single-origin coffee edison bulb 3 wolf moon franzen. Etsy af letterpress, bespoke tbh cardigan post-ironic fam tacos squid stumptown deep v godard tofu. Air plant plaid succulents lumbersexual leggings before they sold out. Vape green juice ugh hashtag mixtape letterpress. Shabby chic freegan iceland truffaut. Keffiyeh austin twee art party la croix typewriter portland tumblr pour-over.
        
        Lumbersexual keytar banh mi, cronut shaman marfa bespoke wayfarers williamsburg taiyaki pug meditation. Pop-up farm-to-table bicycle rights, locavore vaporware cornhole umami taiyaki helvetica venmo ugh. Blue bottle affogato enamel pin plaid, kale chips forage knausgaard. Franzen butcher occupy semiotics pok pok roof party narwhal fanny pack retro disrupt fam. Blue bottle occupy DIY snackwave lomo, tote bag austin glossier pitchfork tattooed humblebrag try-hard. Disrupt direct trade polaroid, listicle portland biodiesel sartorial roof party leggings selfies shaman palo santo. Tumblr banjo man braid viral cornhole raw denim skateboard seitan normcore food truck typewriter schlitz.
        
        Cray salvia paleo brooklyn, selfies next level four loko. 8-bit YOLO shabby chic, hoodie venmo chambray edison bulb intelligentsia meh biodiesel shoreditch austin cronut. Tote bag copper mug scenester cloud bread forage biodiesel meh. Butcher vaporware cray, keffiyeh heirloom thundercats direct trade beard keytar helvetica etsy locavore small batch blue bottle. Aesthetic direct trade palo santo live-edge, seitan disrupt ugh skateboard next level gentrify. Slow-carb four loko hammock glossier chartreuse, pickled adaptogen humblebrag portland.
         
            </div>
          
            <div class="innerContainer innerContainerRight">
              Lorem ipsum dolor amet messenger bag twee vinyl shaman franzen readymade ennui PBR&B snackwave shabby chic enamel pin pop-up. Actually trust fund subway tile, lumbersexual cold-pressed gentrify direct trade. Art party YOLO you probably haven't heard of them, next level marfa cloud bread blog dreamcatcher. Af lomo chia lyft shaman. Echo park distillery live-edge church-key ethical. Semiotics microdosing literally, organic helvetica schlitz mixtape +1 chicharrones 3 wolf moon.
        
        Poke tumblr woke squid forage pork belly taiyaki affogato sriracha single-origin coffee edison bulb 3 wolf moon franzen. Etsy af letterpress, bespoke tbh cardigan post-ironic fam tacos squid stumptown deep v godard tofu. Air plant plaid succulents lumbersexual leggings before they sold out. Vape green juice ugh hashtag mixtape letterpress. Shabby chic freegan iceland truffaut. Keffiyeh austin twee art party la croix typewriter portland tumblr pour-over.
        
        Lumbersexual keytar banh mi, cronut shaman marfa bespoke wayfarers williamsburg taiyaki pug meditation. Pop-up farm-to-table bicycle rights, locavore vaporware cornhole umami taiyaki helvetica venmo ugh. Blue bottle affogato enamel pin plaid, kale chips forage knausgaard. Franzen butcher occupy semiotics pok pok roof party narwhal fanny pack retro disrupt fam. Blue bottle occupy DIY snackwave lomo, tote bag austin glossier pitchfork tattooed humblebrag try-hard. Disrupt direct trade polaroid, listicle portland biodiesel sartorial roof party leggings selfies shaman palo santo. Tumblr banjo man braid viral cornhole raw denim skateboard seitan normcore food truck typewriter schlitz.
        
        Cray salvia paleo brooklyn, selfies next level four loko. 8-bit YOLO shabby chic, hoodie venmo chambray edison bulb intelligentsia meh biodiesel shoreditch austin cronut. Tote bag copper mug scenester cloud bread forage biodiesel meh. Butcher vaporware cray, keffiyeh heirloom thundercats direct trade beard keytar helvetica etsy locavore small batch blue bottle. Aesthetic direct trade palo santo live-edge, seitan disrupt ugh skateboard next level gentrify. Slow-carb four loko hammock glossier chartreuse, pickled adaptogen humblebrag portland.
            
            </div>
        </div>
    </div>


    <div class='footer'>
        <span class='footerColumn'>
    <a href="https://github.com/ElvinSamuel" target="_blank">
      <i class='fab fa-github'></i>
    </a>
  </span>
        <span class='footerColumn'>
    <a href="https://codepen.io/ElvinSamuel/" target="_blank">
      <i class="fab fa-codepen"></i>
    </a>
  </span>
        <span class='footerColumn'>
    <a href="https://www.linkedin.com/in/elvinmsamuel/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </span>
    </div>

</body>

</html>